
        * {
            box-sizing: border-box;
            font-family: 'Heebo', sans-serif;
        }

        body {
            background-color: antiquewhite;
            font-family: Arial, Helvetica, sans-serif;
        }

        /* Estilo de header */
        header {
            background-color: #fcb7af;
            padding: 20px;
            text-align: center;
            font-size: 20px;
            color: white;
        }

        /* Crear 2 columnas con la misma posición en la fila */
        nav {
            float: left;
            width: 30%;
            height: 300px;
            /* only for demonstration, should be removed */
            background: #ccc;
            padding: 20px;
        }

        nav ul {
            list-style-type: none;
            padding: 0;
        }

        table {
            width: 100%;
         }
         th, td {
            width: 25%;
         }

        article {
            float: left;
            padding: 20px;
            width: 70%;
            background-color: #f1f1f1;
            height: 300px;
        }

        /* Clear floats after the columns */
        section::after {
            content: "";
            display: table;
            clear: both;
        }

        /* Estilo de footer */
        footer {
            background-color: #b0f2c2;
            padding: 10px;
            text-align: center;
            color: white;
        }

        /* Responsive layout */
        @media (max-width: 600px) {

            nav,
            article {
                width: 100%;
                height: auto;
            }
        }